<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>授業評価一覧</title>
</head>
<body>
<h1>登録されている授業一覧</h1>

<!-- 授業リストを表示するテーブル -->
<table border="1">
    <thead>
    <tr>
        <th>授業名</th>
        <th>先生</th>
        <th>学部</th>
        <th>曜日</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course : ${courses}">
        <td>
            <a th:href="@{/course/{id}(id=${course.id})}" th:text="${course.className}">
                授業名
            </a>
        </td>
        <td th:text="${course.teacher}">担当教員</td>
        <td th:text="${course.faculty.displayName}">学部</td>
        <td th:text="${course.dayOfClass.displayName}">曜日</td>
    </tr>
    </tbody>
</table>
</body>
</html>